.container {
  width: 100%;
}

.progress-line-wrap {
  background-color: #fff;
}

.progress-line {
  background-color: #ffc663;
}

.trophy-icon,
.rocket-icon {
  position: absolute;
  top: 50%;
}

.rocket-icon {
  transform: translateX(-50%) translateY(-50%);
}

.zero-percent {
  transform: translateX(15%) translateY(-50%);
}
.full-percent {
  transform: translateX(-100%) translateY(-50%);
}

.trophy-icon {
  transform: translateY(-50%);
}
