@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: DINPro-Regular;
  src: url("@/assets/font/DINPro-Regular.otf") format("embedded-opentype");
} */

body {
  font-family: PingFang SC-Bold, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
}

img {
  width: 100%;
}

.num {
  /* font-family: DINPro-Regular; */
}
